# pip install -r requirements.txt
# tested on Ubuntu 24.04.1 LTS and Python 3.12
#
# to run the base script
numpy==2.0.2
pillow==11.0.0
torch==2.5.1
torchvision==0.20.1
matplotlib==3.9.3
PyQt6==6.7.1
#
# with Kornia
opencv-python==4.10.0.84
kornia==0.7.4
kornia-moons==0.2.9
